{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/bootstrap.min.css' %}">
    <title>{% block title %}My Site{% endblock %}</title>
  </head>
  <body>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">象山博客</a></li>
      </ul>
      <div>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            {{user.username}}|<a href="/logout">退出</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">登陆</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </header>
    {% block content %} {% endblock %}
  </div>
  <script src="{% static 'base/bootstrap.min.js' %}"></script>
  <script src="{% static 'base/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'base/popper.min.js' %}"></script>
  </body>
</html>